@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #0f172a;
  --color-primary-content: #f8fafc;

  --color-secondary: #f5c451;
  --color-secondary-content: #0f172a;

  --color-base-100: #f8fafc;
  --color-base-200: #e2e8f0;
  --color-base-300: #cbd5e1;
  --color-base-content: #0f172a;
}
